html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    background: #000;
}
.tile-nav,
.tile-nav--title,
.tile-nav--type {
    margin: 0;
    padding: 3px;
}
.tile-nav--title,
.tile-nav--type {
    letter-spacing: -1px;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.tile-nav {
    text-align: center;
    margin: 24px;
}
.tile-nav--tile {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 160px;
    list-style-type: none;
    text-align: left;
    position: relative;
}
.tile-nav--link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: inherit;
    z-index: 1
}
.tile-nav--background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #333;
    background-position: center center;
    background-size: 100%;
    transition: background-size 0.2s ease-out;
}
.tile-nav--link:hover .tile-nav--background {
    background-size: 130%;
}
.tile-webgl {
    background-image: url(../img/tile-backgrounds/webgl-talk.png);
}
.tile-audioterrain {
    background-image: url(../img/tile-backgrounds/audioterrain.png);
}
.tile-reflection {
    background-image: url(../img/tile-backgrounds/reflection.png);
}
.tile-particlebox {
    background-image: url(../img/tile-backgrounds/particlebox.png);
}
.tile-voxel-castle {
    background-image: url(../img/tile-backgrounds/voxel-castle.png);
}
.tile-pushconf {
    background-image: url(../img/tile-backgrounds/push-conference.jpg);
}
.tile-earth {
    background-image: url(../img/tile-backgrounds/earth.png);
}
.tile-leap-physics {
    background-image: url(../img/tile-backgrounds/leap-physics.png);
}
.tile-leap {
    background-image: url(../img/tile-backgrounds/leap.png);
}
.tile-gravity {
    background-image: url(../img/tile-backgrounds/gravity.png);
}
.tile-gauntlet {
    background-image: url(../img/tile-backgrounds/gauntlet.png);
}
.slider-vis {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
