html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    font-family: sans-serif;
    background: #000;
}
.vignette {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: inset 0 0 110px #000;
    cursor: pointer;
}
.tinyheader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: black;
    z-index: 100;
}
.site-name {
    color: #fff;
    font-weight: normal;
    letter-spacing: -1px;
    float: right;
    margin: 0;
    padding: 3px 6px;
}
.site-nav {
    padding: 0;
    margin: 0;
}
.site-nav--item {
    display: inline-block;
    margin: 0 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.site-nav--link {
    color: #999;
    text-decoration: none;
    letter-spacing: -1px;
    display: inline-block;
    background: black;
    padding: 3px 6px;
}
.site-nav--link:hover,
.site-nav--link.active {
    color: white;
}
.site-name,
.site-nav--link {
    font-size: 16px;
}
.site-content {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    border: 0;
}
